* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

/*
// These styles are related to positioning concept
.chat-icon {
  img {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 20px;
    top: 50%;
  }
}

.navigation {
  top: 0;
  position: fixed;
  background-color: #FFF;
  width: 100%;
  height: 40px;
}

.container {
  h1 {
    position: sticky;
    bottom: 0;
    background-color: #FFF;
  }
}

.parent {
  width: 600px;
  height: 600px;
  background-color: red;
  position: relative;

  .child {
    width: 100px;
    height: 100px;
    background-color: green;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
*/


.container {
  .parent {
    width: 700px;
    height: 600px;
    background-color: red;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;

    .child {
      width: 100px;
      height: 100px;
      background-color: green;
    }
  }

  .navigation {
    background-color: grey;
    // position: fixed;
    width: 100%;
    > ul {
      display: flex;
      gap: 10px;
      justify-content: flex-end;

      li {
        z-index: 1;
        padding: 10px;
        position: relative;

        a {
          color: #FFF;
          text-decoration: none;
          text-transform: uppercase;
          &:hover {
            color: red;
          }
        }

        > ul {
          position: absolute;
          background-color: grey;
          width: 100px;
          top: 40px;
          display: none;

          li {
            position: relative;

            ul {
              position: absolute;
              top: 0;
              left: 102px;
              display: none;
            }
          }
        }

        &:hover {
          > ul {
            display: block;
          }
        }
      }
    }
  }

  .content {
    > div {
      ul {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 20px;
        height: 300px;
        align-items: center;
        li {
          width: 300px;
          height: 300px;
          border: 1px solid grey;
          position: relative;
          > div {
            img {
              position: absolute;
              top: 40%;
              left: 50%;
              width: 250px;
              height: 200px;
              transform: translate(-50%, -50%);
            }
          }
        }
      }
    }

    .text-on-image {
      padding: 20px;
      display: none;
      position: relative;
      img {
        width: 100%;
        height: 300px;
      }
      .text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 400px;
      }
    }

    .text-on-image-part2 {
      background-image: url("../images/dummyImage.jpg");
      width: 100%;
      height: 300px;
      position: relative;

      .text {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 300px;
        text-align: center;
        color: red;
      }
    }
  }
}